* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #4d5061;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'poppins', 'sans-serif';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div.header {
    text-align: center;
}

div.footer {
    text-align: center;
}

.attractions {
    margin-top: 50px;
}

div.float-child ul.attractions li a {
    text-decoration: none;
    transition: all 0.5s ease;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 200%;
}

div.float-child ul.attractions li a:hover {
    color: #818AA3;
    transition: all 0.5s ease;
}

img {
    border-radius: 20px;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img-child {
    margin-left: -100px;
    margin-right: 50px;
}

div.float-child ul li {
    width: 200px;
    height: 112px;
    padding-right: 50px;
    align-items: center;
    display: flex;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #fff;
    list-style: none;
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
}

.headlines {
    background-color: #30323d;
    margin-top: -20px;
}

.headline2 {
    color: #fff;
    margin: 20px 0;
    padding-bottom: 30px;
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
}

.headline1 {
    padding-top: 30px;
    padding-bottom: 18px;
    color: #fff;
    margin: 20px 0;
    font-size: 5rem;
    text-align: center;
    font-weight: 350;
}

hr {
    margin-bottom: 50px;
}

.get-endpoints {
    font-size: 20px;
}

div.nav-container {
    text-align: center;
    color: #6b7a8f;
    margin-bottom: 50px;
}

nav.get-endpoints a {
    margin-right: 130px;
    margin-left: 70px;
    transition: all 0.5s ease;
    text-decoration: none;
    color: #fff;
}

nav.get-endpoints a:hover {
    color: black;
    transition: all 0.5s ease;
    font-size: 22px;
}

p.info {
    color: #fff;
    font-size: 19px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 25px;
}

.float-child {
    margin-bottom: 50px;
    margin-top: -20px;
    width: 50%;
    float: left;
    padding: 20px;
}

.img-child {
    margin-bottom: 50px;
    margin-top: -20px;
    width: 50%;
    float: left;
    padding: 20px;
}

.img-container {
    margin-left: 160px;
    margin-top: 60px;
}

div.col-1 ul {
    list-style: none;
    text-decoration: none;
}

ul.footer-list li {
    list-style: none;
    text-decoration: none;
    margin: 10px;
}

ul.footer-list li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;
}

ul.footer-list li i {
    color: #fff;
    text-decoration: none;
    margin-right: 7px;
}

div.col-1 {
    width: 25%;
    float: left;
    padding: 0 15px;
    font-size: 20px;
    text-align: left;
    margin-left: 250px;
    font-weight: 200;
    display: block;
    border-left: 2px solid red;
}

div.col-2 {
    margin-top: -2px;
    width: 50%;
    float: left;
    padding: 0 15px;
    font-size: 30px;
    display: block;
}

h3.footer-header {
    padding-left: 7px;
}

h3, h4 {
    color: #fff;
}

div.social-links h4 {
    font-size: 22px;
    padding: 15px;
    margin-top: -12px;
}

div.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

div.footer {
    height: 110px;
    margin-top: auto;
    display: flex;
    justify-content: center;
}

ul.footer-list li a:hover {
    color: #818AA3;
    padding-left: 8px;
    transition: all 0.5s ease;
}

div.social-links a:hover {
    color: #818AA3;
}

footer {
    background-color: #30323d;
    padding: 20px;
    top: 100%;
    position: sticky;
}

#attraction1 {
    background-image: url("images/denblåplanet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: black;
    padding-left: 50px;
}

#attraction2 {
    background-image: url("images/statensmuseum.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 50px;
    background-color: black;
}

#attraction3 {
    background-image: url("images/glyptoteket.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 32px;
    background-color: black;
}

#attraction4 {
    background-image: url("images/tivoligardens.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 50px;
    background-color: black;
}

div.float-child ul li a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
    font-weight: 600;
}

div.float-child ul li:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

p.info2 {
    color: #fff;
    font-size: 19px;
    padding-top: 39px;
}

.attraction3 {
    padding-right: 10px;
    padding-left: 10px;
}

nav {
    display: block;
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li a {
    color: #666;
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
}

ul.topnav li a:hover {
    background-color: #0080ff;
    color: #FFF;
}