<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Tourist Attraction</title>
</head>
<body>
<h2>Add Tourist Attraction</h2>
<form th:action="@{/attractions/add}" th:object="${touristAttraction}" method="post">
    <label>Name: <input type="text" th:field="*{name}" required/></label><br>
    <label>Description: <textarea th:field="*{description}" required></textarea></label><br>
    <label>id: <input type="number" th:field="*{id}" required/></label><br>
    <input type="submit" value="Add Attraction">
</form>
</body>
</html>
